body {
  margin: 0;
}

div {
	float: left;
}

#navbar {
	width: 100%;
	height: 60px;
	background-color: #353535;
}

#navbar p {
	font-size: 24px;
	color: white;
	font-weight: 400;
	padding-left: 40px;
	margin-top: 14px;
	margin-bottom: 14px;
}

#main-image {
	width: 100%;
	height: 350px;
	background-image: url("../images/main_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#coment {
	width: 50%;
	height: 350px;
	background-color: white;
}

#paragraph {
	margin: 0px;
	padding: 0px 30px;
	line-height: normal;
	vertical-align: middle;
}

#paragraph h1 {
	margin: 0px 0px 30px 0px;
	font-size: 20px;
	color: #1B1B1B;
}

#paragraph h2 {
	margin: 0px 0px 10px 0px;
	font-size: 16px;
	color: #4A4A4A;
}

#paragraph p {
	margin: 0px;
	font-size: 16px;
	color: #7A7A7A;
}

#img1 {
	width: 100%;
	height: 385px;
	background-image: url("../images/img1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#img2 {
	width: 100%;
	height: 200px;
	background-image: url("../images/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	line-height: 175px;
	text-align: center;
}

#view-more {
	border: 4px solid white;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 9px 40px;
	line-height: normal;
	vertical-align: middle;
}

#img3 {
	width: 100%;
	height: 200px;
	background-image: url("../images/img3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 768px) {
	#navbar {
		width: 100%;
		height: 60px;
		background-color: #353535;
	}

	#navbar p {
		font-size: 24px;
		color: white;
		font-weight: 400;
		margin-top: 14px;
		margin-bottom: 14px;
		padding-left: 40px;
	}

	#main-image {
		width: 100%;
		height: 562px;
		background-image: url("../images/main_img.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	#coment {
		width: 100%;
		height: 350px;
		background-color: white;
	}

	#paragraph {
		margin: 0px;
		padding: 0px 65px;
		line-height: normal;
		vertical-align: middle;
	}

	#paragraph h1 {
		margin: 0px 0px 30px 0px;
		font-size: 20px;
		color: #1B1B1B;
	}

	#paragraph h2 {
		margin: 0px 0px 10px 0px;
		font-size: 16px;
		color: #4A4A4A;
	}

	#paragraph p {
		margin: 0px;
		font-size: 16px;
		color: #7A7A7A;
	}

	#img1 {
		width: 50%;
		height: 360px;
		background-image: url("../images/img1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	#img2 {
		width: 50%;
		height: 180px;
		background-image: url("../images/img2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		line-height: 175px;
		text-align: center;
	}

	#view-more {
		border: 4px solid white;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-decoration: none;
		padding: 9px 40px;
		line-height: normal;
		vertical-align: middle;
	}

	#img3 {
		width: 50%;
		height: 180px;
		background-image: url("../images/img3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

@media (min-width: 992px) {
	#navbar {
		width: 100%;
		height: 60px;
		background-color: #353535;
	}

	#navbar p {
		font-size: 24px;
		color: white;
		margin-top: 14px;
		margin-bottom: 14px;
		padding-left: 40px;
}

	#main-image {
		width: 50%;
		height: 700px;
		background-image: url("../images/main_img.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	#coment {
		width: 50%;
		height: 350px;
		line-height: 350px;
		background-color: white;
	}

	#paragraph {
		float: none;
		padding: 0px 65px;
		line-height: normal;
		vertical-align: middle;
	}

	#paragraph h1 {
		margin: 0px 0px 30px 0px;
		font-size: 20px;
		color: #1B1B1B;
	}

	#paragraph h2 {
		margin: 0px 0px 10px 0px;
		font-size: 16px;
		color: #4A4A4A;
	}

	#paragraph p {
		margin: 0px;
		font-size: 16px;
		color: #7A7A7A;
	}

	#img1 {
		width: 25%;
		height: 350px;
		background-image: url("../images/img1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	#img2 {
		width: 25%;
		height: 175px;
		background-image: url("../images/img2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		line-height: 175px;
		text-align: center;
	}

	#view-more {
		border: 4px solid white;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-decoration: none;
		padding: 9px 40px;
		line-height: normal;
		vertical-align: middle;
	}

	#img3 {
		width: 25%;
		height: 175px;
		background-image: url("../images/img3.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
